.search{
	display: flex;
	flex-direction: column;
	margin-left: 6rem;
	margin-right: 4.5rem;
	padding: 0.5rem 1rem 1.5rem 1rem;
	background-color: #73C7D4;
	border: 1px solid white;
	border-radius: 4px;
}

.search > h2{
	color: white;
}

.search > hr{
	margin: 0;
	color: grey;
}

.date-input{
	display: flex;
  flex-direction: column;
}

.search-text{
	display: flex;
  flex-direction: column;
}

.results{
	display: flex;
	flex-direction: column;
	margin-left: 6rem;
	margin-right: 6rem
}

/* .result-main{
	margin-left: ;
} */

.result-card{
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	border: 1px solid grey;
	padding: 1rem;
	border-radius: 4px;
	width: 100%;
}