body{
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	margin: 2rem 6rem;
}

hr{
	margin-left: 6rem;
	margin-right: 4.5rem;
}


nav > ul{
	margin: 0 6rem;
	padding-left: 0;
}

nav > ul > li > a,nav > ul > li > a::after{
	text-decoration: none;
	color:rgb(147, 141, 141);
	font-weight: 600;
}

nav > ul {
	list-style-type: none;
}

nav > ul > li {
	float: left;
	padding: 1rem;
	width: 5rem;
}

nav {
	display: flex;
	overflow: auto;
	flex-direction: row;
	background-color: rgb(243, 243, 243);
	padding: 0;
}

.nav-right{
	align-self: center;
	margin-left: auto;
	margin-right: 5rem;
	color: rgba(0, 0, 0, 0.539);
}

.active-page{
background-color: #d0d0d0;
padding: 1rem;
margin: 0;
font-weight: bold;
}

.active-page > a{
	text-decoration: none;
	color:black;
	font-weight: bolder;
}

#email{
	color: rgb(0, 94, 255);
	padding-right: 0.5rem;
}