.team{
	margin :auto;
	width: 88%;
}

.team > h4{
	color: grey;
}

.result-main{
	display: flex;
	flex-direction: row;
	overflow: auto;
}

.result-card:nth-child(3){
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.results > hr{
	margin: 0;
}

.result-card{
	margin-right: 2rem;
	margin-bottom: 0.5rem;
	border: 1px solid rgb(208, 208, 208) ;
	padding: 1.25rem;
	border-radius: 4px;
	width: 30%;
}

.result-card > h4{
	color: grey;
	margin-top: 1rem;
}

.result-card > h4 > span{
	color: black;
}

.result-card > hr {
	margin : 0;
}

.result-date{
	display: flex;
	flex-direction: column;
}

.result-date > h3{
	margin: 0;
} 

.result-date > h4 {
	margin-top: 0.6rem;
	margin-bottom: 0;
}

.ex-btn{
border: none;
background-color: red;
padding: 0.5rem 1rem ;
color: white;
border-radius: 4px;
font-weight: bolder;
margin-bottom: 1rem;
}

.add-btn{
background-color: #1992A5;
border: none;
border-radius: 4px;
color: white;
padding: 0.5rem 1rem;
}

.add-card{
	font-size: 4rem;
}

#member{
	padding: 0.5rem;
}

@media (max-width : 400px) {
	.result-main{
		flex-direction: column;
	}
	.result-card{
		width: 80%;
	}
}